
.background-header{display: flex;
    background-color:#C74754 ;
    justify-content: space-between;
    
}h2{
    margin-bottom: 0;
}
h3{
    margin-top: 0;
    margin-bottom: 0;
}
h1{
    margin-top: 0;
}
footer {
    background-color:#C74754 ;
}
.background-header img{
    width: 100px;
   height: 100px;
}
a{ display: flex;
    color:  white;
    align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  cursor: pointer;
}
.main-nav-item{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

main {
    background-color: #F9A6AE;
    padding-bottom: 50px;
}
.background-content img{
    width: 100%;
    height: 400px;
    object-fit:cover;
    z-index: 1;
}
.text{
    z-index: 2;
margin-top: -350px;
color: white;
margin-left: 100px;
margin-right: 500px;
}
.content{
    margin-top: 150px;
    margin-left: 70px;
    margin-right: 70px;
}

.title{display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 0;
    color: white;
    
}
.form-group label {display: flex;
    justify-content: center;
    color: white;
    font-size: large;
    margin-bottom: 20px;
    margin-top: 15px;
}
.form-group input {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}
.form-group select {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}
.signin-form .signin-button{
    background-color: #C74754;
    color: white;
    border-color: #C74754;
    box-shadow: none;
    font-size: large;
    display: flex;
   margin-left: auto;
   margin-right: auto;
   margin-top: 15px;
  
}
.login-button{
    background-color: #C74754;
    color: white;
    border-color: #C74754;
    box-shadow: none;
    font-size: large;
    display: flex;
   margin-left: auto;
   margin-right: auto;
   margin-top: 15px;
}
.birthdate input{
    width: 220px;
}
.connection-types{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30%;
}
.none{
    display: none;
}
.pdp{
    width: 300px;
    height: 200px;
}
.info {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    margin: 20px 0;
  }
  
  .left {margin: 0;
    flex: 1;
    padding-right: 20px; 
    margin-left: 50px;
  }
  
  .right  {
    flex: 2; 
  }
  .right p{
    margin: 0;
    margin-top: 39px;
    
  }
  .left h4{display: flex;
    margin-left: 85px;
    margin-top: -2px;
  }
  /*card */

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap:50px;
  }
  .cards-container a{
    margin: 0;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 16px;
    background-color: #fff;
  }
  
  .card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-body h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .card-body p {
    margin: 4px 0;
    font-size: 14px;
    color: black;
  }
  .teacher-cards{
    margin-left: 50px;
  }